*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(9 , 40, 87);
    font-family: sans-serif;
    outline: none;
}
.bottel{
    width: 100%;
    height: 100vh;
    background: #29ad959d;
    display: flex;
    align-items: center;
    justify-content: center;
}
.canwater{
    background-color: rgb(142, 143, 137);
    padding: 15px;
    border-radius: 30px;
    order: 1px solid rgb(244, 5, 164);
    box-shadow: inset 6px 6px 15px rgb(189, 185, 188),
                    5px 5px 12px rgba(96, 5, 5, 0.874);
    display:grid;
    grid-template-columns: repeat(4, 70px);                
}
.canwater input{
    grid-column: span 4;
    width: 260px;
    height: 60px;
    background-color: wheat;
    box-shadow: inset -6px -6px 15px white,
                inset 4px 4px 15px rgba(0, 0, 0, 16);
     border:none;
     border-radius: 15px;
     color: rgb(25, 6, 18);
     font-size: larger;
     text-align:end;
     margin :auto;
     margin-top: 30px;
     margin-bottom: 30px; 
     padding: 20px;
}
button{
    height: 48px;
    width: 48px;
    background-color: wheat;
    box-shadow: -5px -5px 15px whitesmoke,
                5px 5px 12px rgba(0, 0, 0, 16);
     border: none;
     border-radius: 50px;
     margin: 7px;
     font-size: 20px;
}
    .equal{
        width: 115px;
        border-radius: 40px;
        background-color: wheat;
    }